[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==20.8b1"
flake8 = "*" #"~=3.5"
flake8-bugbear = "*" # "~=18.2"
flake8-quotes = "*" # "~=1.0"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
# yabs = {path = ".", editable = true}

[packages]
GitPython = "*"
PyGithub = "*"
PyYAML = "*"  # "~=5.2"
semantic_version = "*"
setuptools = ">=42.0"
snazzy = "*"
toml = "*"
twine = "*"  # "~=3.2"
wheel = "*"

[requires]
python_version = "3.9"

[pipenv]
# TODO: remove this when black releases a real version
allow_prereleases = true
