[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
ruff = "*"
tox = "*"
yabs = {editable = true, path = "."}

[packages]
build = "*"
click = "*"
GitPython = "*"
jinja2 = "*"
PyGithub = "*"
PyYAML = "*"
requests = "*"
semantic_version = "*"
setuptools = ">=42.0"
snazzy = "*"
toml = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.12"

[pipenv]
# allow_prereleases = true
